<div class="link-flex">
    <%= link_to 'ホームへ', root_path, class: 'btncss' %>
    <%= link_to '管理者画面へ', "/admin/products", class: 'btncss' %>
    <% if session[:cart_id] %>
        <%=  link_to "カートページへ", cart_products_path, class: 'btncss' %>
    <% end%>
    <%=  link_to "orderページへ", orders_path, class: 'btncss' %>
</div>

<table class="table table-hover table-sm">
  <thead class="bg-light">
    <tr>
      <th scope="col" >ID</th>
      <th scope="col">コード</th>
      <th scope="col">割引き額</th>
      <th scope="col">使用状態</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion_code.each_with_index do |code| %>
      <tr>
        <td><%= code.id %></td>
        <td><%= code.code %></td>
        <td><%= code.discount_amount %></td>
        <td><%= code.used %></td>
      </tr>
    <% end %>
  </tbody>
</table>
