<div class="container mt-5">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Order番号</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.id, order_path(order) %>(詳細ページへ)</td>
          <td>
            <%= link_to order.username, order_path(order) %>(ボタンです)
          </td>
          <td>
            <%= order.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="link-flex mt-5">
    <%=  link_to "homeへ", root_path, class: 'btncss' %>
    <%= link_to '管理者画面へ', "/admin/products", class: 'btncss' %>
    <%= link_to "http://localhost:3000/letter_opener" , "/letter_opener", class: 'btncss' %>
    <%= link_to "http://localhost:3000/letter_opener" , "/letter_opener", class: 'btncss' %>
</div>
