<h2>購入者情報 </h2>

<h4>ユーザー名 : @<%= @order.username %></h4>
<h4>Email : <%= @order.email %></h4>


<h2>お支払情報</h2>
<h4>クレジットカード番号</h4>
<p><%= @order.credit_card_number %></p>
<p>一括払い</p>

<h4>請求先住所</h4>
<p><%= @order.address %></p>
<p><%= @order.email %></p>
