<%= render 'shared/navigation', :cart_size => @cart_size %>
<div class="text-center">
  <h2 class="my-2">商品一覧</h2>
  <%= link_to '新規商品作成', new_admin_product_path, class: 'btn btn-success my-2' %>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>商品名</th>
      <th>説明</th>
      <th>価格</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to '編集', edit_admin_product_path(product), class: 'btn btn-primary' %>
          <%= button_to '削除', admin_product_path(product), method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



