<!-- app/views/admin/products/show.html.erb -->
<h1>商品詳細</h1>
<p><strong>商品名:</strong> <%= @product.name %></p>
<p><strong>説明:</strong> <%= @product.description %></p>
<p><strong>価格:</strong> <%= @product.price %></p>
<%= link_to '編集', edit_admin_product_path(@product), class: 'btn btn-primary' %>
<%= button_to '削除', admin_product_path(@product), method: :delete, class: 'btn btn-danger' %>
<%= link_to '一覧に戻る', admin_products_path,  class: 'btn btn-secondary' %>
