<!-- _product_card.html.erb -->

<% @products.each do |product| %>
  <div class="col mb-5">
    <div class="card h-100">
      <%= image_tag product.image, class: "card-img-top img-fluid h-100", alt: "..." %>

      <!-- 商品の詳細-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- 商品名-->
          <h5 class="fw-bolder"><%= product.name %></h5>
          <div><%= "値段は#{product.price} 円" %></div>
          <div><%= "在庫は#{product.stock} 個" %></div>
          <a href="<%= product_path(product) %>" class="btn btn-primary mt-3">購入する</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
